<!-- data.html -->

<!-- 
	In this template, a table is used to display the data, 
	with each row representing a document in the collection. 
	The for loop is used to iterate over the results cursor 
	and generate a row for each document. 
-->

{% extends 'base.html' %}

{% block title %}RLS Client Data{% endblock %}

{% block content %}
  <h1>RLS Client Data</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>RefNo</th>
      <th>Nationality</th>
      <th>Country of Origin</th>
      <th>Language</th>
      <th>Married</th>
    </tr>
      <tr>
        <td>{{ user['fname'] }}</td>
        <td>{{ user['refno'] }}</td>
        <td>{{ user['nationality'] }}</td>
        <td>{{ user['coi'] }}</td>
        <td>{{ user['language'] }}</td>
        <td>{{ 'Yes' if user['married'] else 'No' }}</td>
      </tr>
  </table>
{% endblock %}
