<style>
.center {{
    text-align: center;
}}
</style>
<p class="center">
<h1 id="the-international-protection-appeals-tribunal"><strong>The
International Protection Appeals Tribunal</strong></h1>
<p><strong>European Union (Dublin System) Regulations 2014-12-29
International Protection Appeals Tribunal</strong></p>
<p class="center">
<strong>NOTICE OF APPEAL against the recommendation of the International
Protection Office made under Council Regulation (EC)
No. 604/2013.</strong>
</p>
<p><strong>Personal details:</strong></p>
<p>[1.1] Name: {fname} {lname}</p>
<p>[1.2] Address: {address}</p>
<p>[1.3] Nationality: {nationality}</p>
<p>[1.4] Your temporary residence certificate number:</p>
<p><strong>Legal Representation:</strong></p>
<p>[2.1] Do you have legal representation? Yes: [x] No: [ ] (tick as
appropriate)</p>
<p>[2.2] Name of your legal representative: Legal Aid Board</p>
<p>[2.3] His or her address:</p>
<blockquote>
<p>48 - 49 North Brunswick Street George’s Lane Dublin 7</p>
</blockquote>
<p>[2.4] Telephone number: (01) 6469600</p>
<p><strong>3. Grounds of Appeal:</strong></p>
<p>Please state clearly and concisely all the facts and contentions on
which you rely in making your appeal. You may use additional or separate
pages.</p>
<p>Ground 1: {{ }}</p>
<p>Ground 2: {{ }}</p>
<p>Ground 3: {{ }}</p>
<p><strong>4. Oral Hearing:</strong></p>
<p>[4.1] Do you wish to have an oral hearing in connection with your
appeal?</p>
<blockquote>
<p>Yes: [ ] No: [ ]</p>
</blockquote>
<p>[4.2] If yes, do you require an interpreter?</p>
<blockquote>
<p>Yes: [ ] No: [ ]</p>
</blockquote>
<p>[4.3] If yes, please specify the precise language or dialect for
which you require interpretation.</p>
<blockquote>
<p>{{ language }}</p>
</blockquote>
<p><strong>5. Communications to the Tribunal:</strong></p>
<p>All communications to the tribunal should be sent by registered post,
to the <em>International Protection Appeals Tribunal, 6/7 Hanover Street
East, Dublin 2</em>. The tribunal will issue you with a receipt which
you should retain as proof of such delivery. You may also scan a signed
copy of your appeal form to: info@protectionappeals.ie</p>
<p> </p>
<p>Signed:</p>
<p><strong>Applicant</strong>  </p>
<p>Date:  </p>
<p>Signed:</p>
<p><strong>Legal Representative</strong></p>
<p> </p>
<p>Date:</p>
