<!DOCTYPE html>
<html>
<head>
    <title>Client Information</title>
</head>
<body>
    <h1>Client Information</h1>
    <form method="post">
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>ID:</label>
        <input type="text" name="per_id"><br>
        <label>Address:</label>
        <input type="text" name="address"><br>
        <label>Religion:</label>
        <input type="text" name="religion"><br>
        <label>Nationality:</label>
        <select name="nationality">
            {% for nationality in nationality_options %}
            <option value="{{ nationality }}">{{ nationality }}</option>
            {% endfor %}
        </select><br>
        <label>Language:</label>
        <select name='language'>
            {% for language in language_options %}
            <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
        </select><br>
        <label>Number of family members:</label>
        <input type="number" name="num_fam_mems" id="num_fam_mems" value="{{ num_fam_mems }}"><br>
        
        <div id="fam_mems">
        </div>
        
        <button type="submit">Submit</button>
    </form>
    
    <script>
        // Get the number of family members input element
        var numFamilyMembers = document.getElementById('num_fam_mems');
        
        // Add an event listener to dynamically generate input fields for family members
        numFamilyMembers.addEventListener('input', function() {
            var num = numFamilyMembers.value;
            var familyMembersDiv = document.getElementById('fam_mems');
            familyMembersDiv.innerHTML = '';
            
            for (var i = 0; i < num; i++) {
                var div = document.createElement('div');
                div.innerHTML = '<h3>Family Member ' + (i+1) + '</h3>' +
                                '<label>Name:</label>' +
                                '<input type="text" name="fam_name_' + i + '"><br>' +
                                '<label>ID:</label>' +
                                '<input type="text" name="fam_per_id_' + i + '"><br>' +
                                '<label>Address:</label>' +
                                '<input type="text" name="fam_address_' + i + '"><br><br>';
                familyMembersDiv.appendChild(div);
            }
        });
    </script>
</body>
</html>

