<!DOCTYPE html>
<html>
    <head>
        <title>Client data Form</title>
    </head>
    <body>
        <h1>Client Data Form</h1>
        <form method="POST">
            {{ form.hidden_tag }}
            <label>Name:</label>
            {{ form.name() }}
            <br>
            <label>Personal ID:</label>
            {{ form.perid() }}
            <br>
            <label>Address:</label>
            {{ form.address() }}
            <br>
            <label>Religion:</label>
            {{ form.religion() }}
            <br>
            <label>Nationality:</label>
            {{ form.nationality() }}
            <br>
            <label>NUmber of family members:</label>
            {{ form.num_fam_mems() }}
            <br>
            {% for member in form.fam_mems %}
                <fieldset>
                    <legend>Family Member</legend>
                    <label>Name:</label>
                    {{ member.name() }}
                    <br>
                    <label>Personal ID:</label>
                    {{ member.perid() }}
                    <br>
                    <label>Address:</label>
                    {{ member.address() }}
                </fieldset>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
