<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Client Management App{% endblock %}

{% block content %}
    <h1>Welcome to the Client Management App</h1>
    <p>Please select an option:</p>
    <ul>
        <li><a href="/per_details"><button>Enter Personal Details</button></a></li>
        <li><a href="/case_details"><button>Enter Case Details</button></a></li>
        <li><a href="/notes"><button>Enter Notes</button></a></li>
        <li><a href="/generate_doc1"><button>Generate Document 1</button></a></li>
        <li><a href="/generate_doc2"><button>Generate Document 2</button></a></li>
    </ul>
    <h2>Generate IPAT Appeal Form</h2>
    <form method="POST" action="{{ url_for('gen_ipat_appeal') }}">
      <label for="refno">Ref No:</label>
      <input type="text" id="refno" name="refno">
      <br><br>
      <input type="submit" value="Generate">
    </form>
{% endblock %}
